ParkDace/Connected Services/BotSpotSensor/IServiceBot_SpotSensor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BOT_SpotSensors__SOAP_" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BOT_SpotSensors__SOAP_" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfParkingSpot">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParkingSpot" nillable="true" type="tns:ParkingSpot" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParkingSpot" nillable="true" type="tns:ArrayOfParkingSpot" />
  <xs:complexType name="ParkingSpot">
    <xs:sequence>
      <xs:element minOccurs="0" name="BatteryStatus" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParkingSpot" nillable="true" type="tns:ParkingSpot" />
</xs:schema>